@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

body {
    font-family: 'Fredoka', sans-serif;
    background-color: #191D88;
}

#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    color: white;
    font-size: 32px;
}

.subtitulo {
    color: white;
    font-size: 20px;
}

.tarjetas{
    display: flex;
    gap: 10px;
}

.tarjeta-de-mokepon {
    width: 100px;
    height: 100px;
    background-color: #1450A3;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
}

input {
    display: none;
}